<div class="caption col-lg-12">
    <div class="page-title">
      <div class="text-center">
        <h3>Calendar</h3>
      </div>
    </div>
    <div class="col-caption-center">
    	<div class="col-caption title">
	    	Week {{selected.week_num}} - {{selected.year}}
	    </div>    
	    <div class="col-caption week-nav">
	        <span class="prev glyphicon glyphicon-chevron-left" ng-click="prevWeek()" data-toggle="tooltip" data-placement="bottom" title="Previous Week"></span>
	        <span class="next glyphicon glyphicon-chevron-right" ng-click="nextWeek()" data-toggle="tooltip" data-placement="bottom" title="Next Week"></span>
	    </div>	
    </div>
    <div class="clearfix"></div>
</div>